/*
!.gitignore
!README.md
!package.json
!webpack.mix.js
.DS_Store
/.idea

!/wp-content
/wp-content/*
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/portfolio
/wp-content/themes/portfolio/public/*