/* import Font : Open Sans from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* Font Family */
$open-sans: 'Open Sans', "Helvetica Neue" ,sans-serif;

/* Define the Font-Weight*/
$light : 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;