.projects{
  &__other{
    margin: 2rem auto;
    max-width: 1000px;
    & .projects{
      &__title{
        margin-bottom: 0.45rem;
        padding: 0 2rem;
        letter-spacing: 1px;
        font-size: $size_24;
        font-family: $title;
        font-weight: $weight_medium;
      }
      &__container{
        justify-content: flex-start;
        align-items: center;
      }
    }
  }
}