.projects {
  &__other {
    margin: 2rem auto;
    max-width: 1000px;

    & .projects {
      &__wrapper {
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        flex-shrink: 0;
        flex-grow: 1;
        overflow-x: auto;

        & .projects__container {
          margin: 2rem 1rem;
          height: auto;
          flex-shrink: 0;

          &:first-of-type {
            margin-left: 2rem;
          }
        }
      }
      &__title {
        margin-bottom: 0.45rem;
        padding: 0 2rem;
        letter-spacing: 1px;
        font-size: $size_24;
        font-family: $title;
        font-weight: $weight_medium;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .projects {
    &__other {
      & .projects {
        &__wrapper{
          & .projects__thumbnail {
            width: 200px;
            height: 200px;
          }
        }
      }
    }

  }


}