.sro {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  background: black;
  color: white;
  font-family: $text;
  font-weight: lighter;
  overflow-x: hidden;
}
h2{
  font-family: $title;
  font-weight: $weight_medium;
}
section{
  min-height: calc(100vh);
  box-sizing: border-box;
}
section:first-of-type{
  padding-top: 0;
}
section:last-of-type{
  min-height: calc(80vh);
}
section > h2 {
  font-size: $size_32;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main{
  //max-height: 90vh;
  flex-grow: 1;
}
p{
  font-size: $size_18;
}