.sro {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
body{
  background: black;
  color: white;
  font-family: $text;
  font-weight: lighter;
}
h2{
  font-family: $title;
  font-weight: $weight_medium;
}
section{
  min-height: calc(100vh - 58px);
  padding-top: $size_64;
  margin: 0 $size_24;
}
.main{
  min-height: 100vh;
}