.footer{
  line-height: 1.5em;
  & a{
    text-decoration: underline;
  }
  background-color: rgba(0,0,0,0.7);
  padding: 2rem $size_20 0.5rem;
  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  &__languages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    &--items{
      margin-right: $size_18;
    }
  }
  &__title{
    color: $gray;
    font-weight: normal;
  }
}
.end_copyright{
  text-align: center;
  margin-top: 1rem;
  font-family: $title;
  color: $gray;
  font-weight: normal;
}