.introduction {
  min-width: 150px;
  max-width: 55ch;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 2s ease-in-out;

  &__title, &__title__hidden {
    font-family: $title;
    font-size: $size_48;
    margin: 0.75rem 0;
    letter-spacing: 0.2rem;
    padding: 0 2rem;
    height: 100px;
  }
  &__text {
    font-size: $size_18;
    padding: 0 2rem;

    line-height: 150%;
    color: $gray;
  }
  &__buttons {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
  }
}
@media screen and (min-width: 350px){
  .introduction{
    min-width: 150px;
    max-width: 60ch;
  }
  .introduction__title{
    height: auto;
  }
}