.header{
  position: fixed;
  width: calc(100vw - 48px);
  padding: 0 24px;
  background-color: rgba(0, 0, 0, 0.65);
  font-family: $title;
  font-size: $size_18;
  font-weight: $weight_medium;

  &__menu{
    min-height: 58px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.menu{
  &__logo{
    font-family: $cursive_title;
    font-size: $size_32;
    font-weight: $weight_400;
  }
  &__nav{
    display: flex;
    flex-shrink: 1;
    flex-wrap: wrap;
  }
  &__wrapper{
    display: flex;
    color: $gray;
    font-size: $size_18;
    font-weight: $weight_medium;
  }
}
.lang{
  &__container{
    position: relative;
    text-transform: uppercase;
    display: inline-flex;
  }
  &__other{
    position: absolute;
    top: 2rem;
    right: -50%;
    display: flex;
    flex-direction: column;
  }
  &__link,   &__current{
    color: $gray;
    &:hover, &:focus{
      text-decoration: underline;
      cursor: pointer;
      color: $white;
    }
  }
  &__li{
    margin-bottom: 0.25em;
  }
  &__link{
    display: block;
    border: 1px solid $gray;
    border-radius: 50%;
    background-color: $black;
    padding: calc(1rem/2);
    &:hover, &:focus{
      color: $black;
      background-color: $white;
    }
  }
}
.nav {
  &__links{
    &:after{
      padding: 0 1rem;
      content: "•";
      font-size: 1rem;
      color: $gray;
    }
  }
  &__link {
    color: $gray;
    &:hover, &:focus{
      cursor: pointer;
      text-decoration: underline;
      color: $white;
    }
  }
}
.lang__hidden{
  display: none;
}