.header{
  z-index: 100;
  position: fixed;
  width: calc(100vw - 48px);
  padding: 0 24px;
  background-color: rgba(0, 0, 0, 0.65);
  font-family: $title;
  font-size: $size_18;
  font-weight: $weight_medium;
  letter-spacing: 1px;
  &__menu{
    min-height: 58px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.menu{
  &__logo{
    font-family: $cursive_title;
    font-size: $size_32;
    font-weight: $weight_400;
  }
  &__nav{
    display: flex;
    flex-shrink: 1;
    flex-wrap: wrap;
  }
  &__wrapper{
    display: flex;
    color: $gray;
    font-size: $size_18;
    font-weight: $weight_medium;
  }
}
.nav {
  &__links{
    &:after{
      padding: 0 1rem;
      content: '\2022';
      font-size: 0.75rem;
      color: $gray;
    }
  }
  &__link {
    color: $gray;
    &:hover, &:focus{
      cursor: pointer;
      text-decoration: underline;
      color: $white;
    }
  }
}