:root {
  --border-radius: 20px;
}

.title {
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.line {
  display: none;
  /*position: absolute;
  top: 6rem;
  left: 1.65rem;

  &:after {
    content: "";
    display: block;
    width: 0.01rem;
    height: 0;
    background: $white;
    animation: line 12s ease infinite;
    box-shadow: 0 0 10px 2px $white;
  }*/
}

@keyframes line {
  0% {
    height: 0;

  }
  20% {
    height: calc(100vh);
    box-shadow: 0 0 10px 2px rgb(96, 151, 255);
  }
  70% {
    height: calc(100vh);
  }
  90% {
    height: 0;
    box-shadow: 0 0 10px 2px rgb(0, 39, 226);
  }
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 450px;
  }

  &__container {
    transition: all .3s ease-in-out;
    display: inline-grid;
    position: relative;
    margin: 1rem 1rem 2rem;
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    overflow: hidden;
    line-height: 0;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.15);
  }
  &__container:not(:last-of-type) {
    margin: 1rem 2rem 2rem;
  }

  &__name {
    order: 3;
    font-size: $size_20;
    text-align: center;
    line-height: 1.5;
    margin-top: -3.35rem;
    padding: 0.75rem 0;
    color: $white;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(2px);
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    overflow: hidden;
  }
  &__thumbnail {
    order: 1;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
    transition: all .3s ease-in-out;
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }
  &__link {
    transition: all .3s ease-in-out;
    order: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    line-height: 1.5;
    & span{
      display: none;
      border: 1px solid #000;
      &::after{
        transform: rotate(-90deg);
        content: url("data:image/svg+xml;charset=UTF-8, <svg width='11' height='19' viewBox='0 0 11 19' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M4.75781 0.742172L4.75781 16.4601L2.16668 13.8564C1.87753 13.5659 1.40761 13.5648 1.11708 13.8539C0.826517 14.1431 0.825441 14.613 1.11456 14.9036L4.97393 18.7816C4.97416 18.7819 4.97442 18.7821 4.97464 18.7823C5.2638 19.0721 5.73523 19.073 6.02535 18.7824C6.02558 18.7821 6.02584 18.7819 6.02606 18.7817L9.88543 14.9036C10.1745 14.6131 10.1735 14.1432 9.88291 13.854C9.59238 13.5648 9.12246 13.5659 8.83331 13.8565L6.24218 16.4601L6.24218 0.742172C6.24218 0.332262 5.90991 -1.57163e-05 5.5 -1.56983e-05C5.09009 -1.56804e-05 4.75781 0.332262 4.75781 0.742172Z' fill='black'/></svg>");
      }
    }
    &:hover, &:focus{
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(2px);
      & span{
        display: inline-flex;
        justify-content: space-evenly;
      }
    }
  }
  &__image {
    display: block;
    object-fit: fill;
    object-position: center;
    width: 100%;
    height: auto;
  }
}
.active__link{
  transition: all .3s ease-in-out;
  text-decoration: underline;

  margin-top: -3.5rem;
  color: $white;
  background-color: rgba(0,0,0,0);
  backdrop-filter: blur(0);
}
.active__container{
  transition: all .3s ease-in-out;
  transform: scale(1.2);
}