.colors{
  display: flex;
}
.color{
  height: 64px;
  width: 64px;
  border-radius: 50%;
}
.color:nth-child(2){
  position: relative;
  left: -1.5rem;
  z-index: -1;
}
.color:nth-child(3){
  position: relative;
  left: -3rem;
  z-index: -2;
}
.color:nth-child(4){
  position: relative;
  left: -4.5rem;
  z-index: -3;
}
.color:nth-child(5){
  position: relative;
  left: -6rem;
  z-index: -4;
}